version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

{% if stack_choice == "fullstack" %}
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
{% endif %}
